@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Kime sorsan gösterir.
    </address>

    <address>
        <strong>Support:</strong>   Allahu Teala<br />
        <strong>Marketing:</strong> Çekici kişiliğim
    </address>
</main>