@{
    ViewBag.Title = "Index";
}

<h2>People Tables</h2>

<h4 style="display: inline;">@Html.ActionLink("Server Side Rendering", "ListPeopleServerSide", "People", new { area = "" }, new { @class = "button" })</h4>
&nbsp;
<h4 style="display: inline;">@Html.ActionLink("Client Side Rendering", "ListPeopleClientSide", "People", new { area = "" }, new { @class = "button" })</h4>