@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
    
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/burakphoto.jpg" alt="Burak Öztürk" class="img-fluid rounded-circle" />
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">About Me</h2>
            <p>Hello, I am Burak Öztürk, a 22-year-old Computer Science student from Turkey. I am currently in my senior year at Bilkent University, Turkey. I created this website as an exercise, even though I must admit, I am not a big fan of web development.</p>
            <p>Feel free to explore the various sections of the site and enjoy the content I have put together. If you have any questions or want to get in touch, you can reach me through my email at <a href="mailto:burakozturk001@gmail.com">burakozturk001@gmail.com</a> or connect with me on <a href="https://www.linkedin.com/in/burak-öztürk-334076124/" target="_blank">LinkedIn</a>.</p>
            <p>If you are curious about my university, you can visit the official <a href="https://www.bilkent.edu.tr/" target="_blank">Bilkent University website</a>.</p>
        </div>
    </div>
</div>

<script type="text/javascript" >

    document.getElementById("profilepic").setAttribute("hidden", "true");

</script>